@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./Fontello.css');


body {
  /* background-image: url('/static/images/background.png'); */
  background-color: #222223;
  overflow-x: hidden;
  @apply text-base;
  scroll-behavior: smooth;
}

.container {
  @apply w-full max-w-[1720px] mx-auto;
}

/************* ScrollBar ***********/
::-webkit-scrollbar {
  @apply mr-[10px] w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* ::-webkit-scrollbar-thumb {
  @apply w-2 bg-white border-4 border-solid rounded-xl border-yellow-doge-500 bg-opacity-40;
} */

/************* Button ***********/
.button {
  @apply flex items-center justify-center px-5 py-3 text-sm font-normal transition rounded-lg focus:outline-none;
}
.button-primary {
  @apply relative flex items-center justify-center px-[30px] py-[10px] text-sm font-normal transition rounded-[5px] focus:outline-none text-white bg-picton-blue-400 hover:bg-picton-blue-800 overflow-hidden;
  transition: all 0.3s ease;
}

.button-primary:hover .icon-primary {
  display: block; 
}

.icon-primary {
  @apply opacity-0 transition-transform duration-300;
  display: none;
}

.button-primary:hover .icon-primary {
  opacity: 1;
}

.button-secondary {
  @apply flex items-center justify-center px-[17px] py-[17px] max-lg:py-[8px] max-lg:px-[25px] text-sm font-normal transition rounded-[17px] focus:outline-none border-2 border-white bg-opacity-40 bg-white hover:bg-picton-blue-400;
}

.card{
  background: linear-gradient(90deg, #409BDD 0%, #225377 100.07%);
}

.landing-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.landing-content {
  scroll-snap-align: start;
}